@page "/"
@using BlazorWasm.Services
@using Domain.DTOs
@using Domain.Models
@inject IPostService PostService
@inject NavigationManager navMgr
<AuthorizeView>
    <NotAuthorized>
        <div class="card">
            <PageTitle>Readit Front Page</PageTitle>

            <h1>Readit App</h1>

            Welcome, please log in or register to access the front page.
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {

}