@inject IPostService PostService
@page "/Post/{id:int}"
@using BlazorWasm.Services.Http
@using BlazorWasm.Services
@using System.Collections.ObjectModel
@using System.Runtime.InteropServices.JavaScript
@using DataStructures
@using Domain.DTOs
@using Domain.Models
@inject IAuthService authService

<AuthorizeView>
    <NotAuthorized>
                <div class="header">
                    <PageTitle>Readit Front Page</PageTitle>
        
                    <h1>Readit App</h1>
        
                    Welcome, please log in or register to access this post.
                </div>
    </NotAuthorized>
    <Authorized>
    <div class = "header">
        <h1>Readit</h1>
        </div>

<div class="container">
    <div class="content">
        <div class="post">
            <h2 class="post-title">@title</h2>
            <p class="post-content">@content</p>
            <div class ="post-info">
                <div class="post-info-text ">Posted By:@author, Posted On:@datePosted</div>
            </div>
        </div>
                    <div class="comments">
                        </div>
    </div>

    <div class="sidebar">
    </div>
</div>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [Parameter]
    public int Id { get; set; }

    private string errorLabel;
    private string title = "placeholder";
    private string content = "placeholder";
    private Post _thisPostPage;
    private string author = "placeholder";
    private DateTime datePosted = new DateTime();

    private string newComment = "Write your comment here";
    
    
    protected override async Task OnInitializedAsync()
    {
        errorLabel = "";
        try
        {
            IEnumerable<Post> postList = await PostService.GetAllAsync();
            List<Post> post = postList.ToArray().ToList();
            for (int i = 0; i < post.Count; i++)
            {
                Console.WriteLine(post[i]);
            }
            Console.WriteLine(Id);
            _thisPostPage = post[Id-1];
            title = _thisPostPage.Title;
            content = _thisPostPage.Content;
            author = _thisPostPage.Author.UserName;
            datePosted = _thisPostPage.PostDate;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }
}
